body{
  background-image: url("../img/bea.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: inherit;
}
.container-fluid{
  color:white;
}
#theform{
  color:white;
}
